<div id='facebookAuthenticationMenu' class='authentication_menu bar bar-with-no-tab'>
  <img src='/facebook.png' class='authentication_menu_image'/>
  <div class='authentication_menu_message'>
    Before the show starts, please <a href="#" id='facebookLogin' class='authentication_menu_link'>authenticate on facebook</a>
  </div>
</div>

