<span class='foursquare-icon'></span>
<div class='authentication_menu_message'>
  In order to search, please <a href="#" id='foursquareLogin' class='authentication_menu_link'>authenticate on foursquare</a>
</div>
