<div class='authentication_menu'>
  <img src='/foursquare.png' class='authentication_menu_image'/>
  <div class='authentication_menu_message'>
    Before the show starts, please <a href="#" id='foursquareLogin' class='authentication_menu_link'>authenticate on foursquare</a>
  </div>
</div>
