<html>
  <head>
    <title>fourbongo</title>
    <link href='/stylesheets/home.css' media='all' rel='stylesheet' />
    <link href='/stylesheets/wall.css' media='all' rel='stylesheet' />
    <link href='/stylesheets/settings.css' media='all' rel='stylesheet' />

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.easie-min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/lib/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.timeago.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.ba-hashchange.min.js"></script>
    <script type="text/javascript" src="/javascripts/util.js"></script>
    <script type="text/javascript" src="/javascripts/analytics.js"></script>
    <script type="text/javascript" src="/javascripts/wallPage.js"></script>
    <script type="text/javascript" src="/javascripts/wall.js"></script>
    <script type="text/javascript" src="/javascripts/homePage.js"></script>
    <script type="text/javascript" src="/javascripts/settingsView.js"></script>
    <script type="text/javascript" src="/javascripts/settings.js"></script>
    <script type="text/javascript" src="/javascripts/home.js"></script>
    <script type="text/javascript" src="/javascripts/SlideShow.js"></script>
    <script type="text/javascript" src="/javascripts/geolocation.js"></script>
    <script type="text/javascript" src="/javascripts/foursquare.js"></script>
    <script type="text/javascript" src="/javascripts/twitter.js"></script>
    <script type="text/javascript" src="/javascripts/instagram.js"></script>
    <script type="text/javascript" src="/javascripts/flickr.js"></script>
    <script type="text/javascript" src="/javascripts/facebook.js"></script>
    <script type="text/javascript" src="/javascripts/map.js"></script>
    <script type="text/javascript" src="/javascripts/initialize.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css'>

    <meta name="facebook_app_id" content="<%= CONFIG['facebook_app_id'] %>" />
    <meta name="foursquare_client_id" content="<%= CONFIG['foursquare_client_id'] %>" />
    <meta name="from_foursquare_authentication_callback" content="<%= @from_foursquare_authentication_callback %>" />
  </head>

  <body>
    <div id='wallContainer'>
      <div id='networksMenu' style='display: none'>
        <ul>
          <li class='twitter-icon'></li>
          <li class='facebook-icon loading-status'></li>
          <li class='instagram-icon'></li>
          <li class='flickr-icon'></li>
        </ul>
      </div>
    </div>
    <div id='homeOuterContainer'>
      <div id="homeContainer">
        <h1 id='title' style='display: none'><span class='green'>fórum</span> <span class='yellow'>bangú</span></h1>
        <h2 id='catchphrase' class='blue'><%= @catchphrase %></h2>
        <div id='homeMenu' style='display: none'>
          <div id='searchMenu'>
            <div id='searchByTagTab' class='searchTab'>
              <div id='searchByTagTabLink' class='searchTabLink'>by hashtag</div>
              <div class='bar'>
                <div id='searchMenuFields'>
                  <form id="searchByTagForm">
                    <label class='searchLabel' for='inputSearchTag'></label>
                    <input type='text' id='inputSearchTag' name='tag' class='searchInput' placeholder='#OGiganteAcordou #vemprarua #vinagre #changebrazil' />
                    <input type='submit' value="go" class='searchButton' />
                  </form>
                </div>
              </div>
            </div>

            <div id='searchByLocationTab' class='searchTab'>
              <div id='searchByLocationTabLink' class='searchTabLink'>by location</div>
              <div class='bar'>
                <div id='searchMenuFields'>
                  <form id="searchForm">
                    <label class='searchLabel' for='inputSearchName'></label>
                    <input type='text' id='inputSearchName' name='venue_id' class='searchInput' placeholder='a location' />
                    <label class='searchLabel' for='inputSearchCity'>in</label>
                    <input type='text' id='inputSearchCity' name='venue_id' class='searchInput' placeholder='a city' />
                    <input type='submit' value="go" class='searchButton' />
                  </form>
                </div>
                <div id='spinning' class='hidden'>
                  <img src='/spinning.gif' />
                </div>
              </div>
            </div>

          </div>
        </div>

        <div id='searchResult'></div>
      </div>
    </div>
   </body>
 </html>
