<html>
  <head>
    <title>fourbongo</title>
    <link href='/stylesheets/home.css' media='all' rel='stylesheet' />
    <link href='/stylesheets/wall.css' media='all' rel='stylesheet' />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.easie-min.js"></script>
    <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/home.js"></script>
    <script type="text/javascript" src="/javascripts/SlideShow.js"></script>
    <script type="text/javascript" src="/javascripts/wall.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  </head>
  <body>
    <div id='wallContainer'></div>
    <div id='searchOuterContainer'>
      <div id="searchContainer">
        <a href="#" id='facebookLogin'>Login on facebook</a> | 
        <a href="#" id='foursquareLogin'>Login on foursquare</a>
        <h1 id='title'>fourbongo</h1>

        <div id='searchMenu'>
          <div id='searchMenuFields'>
            <h3>where?</h3>

            <form id="searchNearby" class="search_form">
              <input type='submit' id='btnSearchNearby' value="nearby" class='searchButton' />
            </form>

            <label class='searchLabel'>or</label>

            <form id="searchByNameAndCity" class="search_form">
              <input type='text' id='inputSearchName' name='venue_id' class='searchInput' placeholder='by name' />
              <label class='searchLabel'>at</label>
              <input type='text' id='inputSearchCity' name='venue_id' class='searchInput' placeholder='and city' />
              <input type='submit' value="go" class='searchButton' />
            </form>
          </div>

          <div id='spinning' class='hidden'>
            <img src='/spinning.gif' />
          </div>
        </div>
        <div id='searchResult' />
      </div>
    </div>
  </body>
</html>
