<div id='searchMenu'>
  <div id='searchMenuFields'>
    <h3>where are you?</h3>

    <form id="searchForm">
      <input type='text' id='inputSearchName' name='venue_id' class='searchInput' placeholder='click go to use your current location' />
      <label class='searchLabel'>in</label>
      <input type='text' id='inputSearchCity' name='venue_id' class='searchInput' placeholder='city' />
      <input type='submit' value="go" id='searchButton' />
    </form>
  </div>

  <div id='spinning' class='hidden'>
    <img src='/spinning.gif' />
  </div>
</div>
