<div id='settingsContainer'>
  <div class='settingsSection'>
    <h3>Posts count</h3>
    <div id='postsCountLabel'></div>
  </div>

  <div class='settingsSection'>
    <h3>Time range</h3>
    <div id='currentTimeRangeLabel'></div>
    <input id='currentTimeRangeSlider' type='range' min='0' />
  </div>

  <div class='settingsSection'>
    <h3>Sorting order</h3>
    <form>
      <input id='sortByPublication' type='radio' name='sorting' value='publication' /><label for='sortByPublication'>Publication</label>
      <input id='sortByRandom' type='radio' name='sorting' value='random' /><label for='sortByRandom'>Random</label>
    </form>
  </div>

  <div class='settingsSection'>
    <h3>Location based updates</h3>
    <div>
      Range <div id='currentLocationBasedUpdatesDistanceRangeLabel'></div><input id='currentLocationBasedUpdatesDistanceRangeSlider' type='range' />
    </div>
    <div>
      <input id='fetchLocationBasedTweets' type='checkbox' /><label id='fetchLocationBasedTweetsLabel' for='fetchLocationBasedTweets'>Twitter</label>
      <input id='fetchLocationBasedInstagramPics' type='checkbox' /><label id='fetchLocationBasedInstagramPicsLabel' for='fetchLocationBasedInstagramPics'>Instagram</label>
      <input id='fetchLocationBasedFlickrPics' type='checkbox' /><label id='fetchLocationBasedFlickrPicsLabel' for='fetchLocationBasedFlickrPics'>Flickr</label>
    </div>
  </div>
</div>
