<div id='settingsContainer'>
  <h3>Sorting order</h3>
  <form>
    <input id='sortByRandom' type='radio' name='sorting' value='random' /><label for='sortByRandom'>Random</label>
    <input id='sortByPublication' type='radio' name='sorting' value='publication' /><label for='sortByPublication'>Publication</label>
  </form>
</div>
