<div id='settingsContainer'>
  <h3>Sorting order</h3>
  <form>
    <input id='sortByPublication' type='radio' name='sorting' value='publication' /><label for='sortByPublication'>Publication</label>
    <input id='sortByRandom' type='radio' name='sorting' value='random' /><label for='sortByRandom'>Random</label>
  </form>
  <h3>Location based tweets</h3>
  <input id='fetchLocationBasedTweets' type='checkbox' /><label for='fetchLocationBasedTweets'>Fetch them</label>
</div>
