<div id='settingsContainer'>
  <div>Sorting order</div>
  <form>
    <input id='sortByRandom' type='radio' name='sorting' value='random'>Random</input>
    <input id='sortByPublication' type='radio' name='sorting' value='publication'>By publication time</input>
  </form>
</div>
