body {
  margin: 0;
 font-family: 'Arial', serif;
}

.authentication_menu {
  font-size: 36px;
  color: white;
}

.authentication_menu a, .authentication_menu a:active, .authentication_menu a:visited {
  color: white;
  text-decoration: underline;
} 

.authentication_menu_image, .authentication_menu_message {
  float: left;
  display: inline-block;
}

.authentication_menu_image {
  padding: 5px;
}

.authentication_menu_message {
  margin-top: 10px;
}

#searchMenu {
  position: relative;
}

#searchMenu, #searchResult {
 color: #444; 
}

#searchResult a, #searchResult a:active, #searchResult a:visited {
  color: #444;
  text-decoration: none;
}

.hidden {
  display: none !important;
}

#homeContainer {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  position: relative;
}

#title {
  font-family: 'Vidaloka', serif;
  letter-spacing: -15px;
  text-align: center;
  font-size: 900%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 100;
  opacity: 0.85;
}

#catchphrase {
  font-family: 'Georgia', serif;
  text-align: center;
  opacity: 0.60;
  position: relative;
  top: -63px;
  left: -20px;
}

#searchMenuFields {
  margin-top: 13px;
  margin-left: 15px;
  float: left;
}

#searchForm {
  width: auto;
}

#spinning {
  display: inline-block;
  margin-top: 15px;
  margin-left: 5px;
}

#searchMenuFields *, #spinning * {
  display: inline-block;
}

.bar, .searchTabLink {
  background-color: rgb(39, 39, 39);
}

.searchTabLink {
  font-size: 24px;
  color: rgb(255, 255, 255);

  display: inline-block;

  padding-left: 12px;
  padding-right: 12px;

  padding-top: 5px;
  padding-bottom: 5px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  z-index: 10;
  position: relative;
}

.disabledSearchTabLink {
  cursor: pointer;
  pointer-events: all;
}

.selectedSearchTabLink {
  cursor: auto;
}

.bar {
  height: 60px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  
  border-radius: 3px;
  -moz-border-radius: 3px;

  border-top-left-radius: 0px;
  
  box-shadow: 0 15px 25px 0 #999;
  -moz-box-shadow: 0 10px 30px 0 #999;

  pointer-events: all;
}

.searchLabel, .searchButton, .searchInput {
  font-size: 24px;
  margin-left: 3px;
  margin-right: 3px;
}

.searchTab {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
}

#searchByTagTabLink {
  margin-left: 145px;
}

#searchByLocationTabLink {
  margin-left: 0px;
}

.bar .searchLabel {
  color: rgb(255, 255, 255);
}

.searchButton, .searchInput {
  color: rgb(96, 96, 96);
  height: 37px;
  border-radius: 5px;
}

.searchButton {
  margin-right: 0px;
  padding: 3px 5px 1px 5px;
  cursor: pointer;
  -webkit-appearance: button;
}

.searchInput {
  padding-left: 4px;
  border-width: 0px;

  box-shadow: inset 0 0 2px 0 black;
  -moz-box-shadow: inset 0 0 2px 0 black;
  -webkit-box-shadow: inset 0 0 2px 0 black;
}

#inputSearchName {
  width: 468px;
}

#inputSearchCity {
  width: 220px;
}

#searchForm {
  margin: 0;
}

#searchResult {
  width: 900px;
  overflow: hidden;
  position: relative;
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
}

.searchResultItem {
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-radius: 15px;
  -moz-border-radius: 15px;
}

.searchResultItemLink div:hover {
  background-color: #C8C8C8;
  color: black;
  opacity: .6;
}

#no_search_results {
  font-size: 115px;
}

.searchResultItemTitle {
  margin-left: 20px;
}

