body {
  margin: 0;
 font-family: 'Times New Roman', serif;
}

.authentication_menu {
  font-size: 36px;
  color: white;
}

.authentication_menu a, .authentication_menu a:active, .authentication_menu a:visited {
  color: white;
  text-decoration: underline;
} 

.authentication_menu_image, .authentication_menu_message {
  float: left;
  display: inline-block;
}

.authentication_menu_image {
  padding: 5px;
}

.authentication_menu_message {
  margin-top: 10px;
}

#searchMenu, #searchResult {
 color: #444; 
}

#searchResult a, #searchResult a:active, #searchResult a:visited {
  color: #444;
  text-decoration: none;
}

#searchMenu input[type='submit'] {
  letter-spacing: 1px;
}

#searchMenu input[type='text'] {
  padding-left: 4px;
}

.hidden {
  display: none !important;
}

#homeContainer {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  position: relative;
}

#title {
  font-family: 'Vidaloka', serif;
  letter-spacing: -15px;
  text-align: center;
  font-size: 900%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 100;
  opacity: 0.85;
}

#catchphrase {
  font-family: 'Georgia', serif;
  text-align: center;
  opacity: 0.60;
  position: relative;
  top: -63px;
  left: -20px;
}

#searchMenuFields {
  margin-top: 12px;
  margin-left: 40px;
  float: left;
}

#searchForm {
  width: auto;
}

#spinning {
  display: inline-block;
  margin-top: 15px;
  margin-left: 5px;
}

#searchMenuFields *, #spinning * {
  display: inline-block;
}

#bar {
  height: 60px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  opacity: 0.85;
  
  border-radius: 3px;
  -moz-border-radius: 3px;
  
  box-shadow: 0 10px 30px 0 black;
  -webkit-box-shadow: 0 10px 30px 0 black;
  -moz-box-shadow: 0 10px 30px 0 black;
}

#bar h3, .searchLabel, #searchButton, .searchInput {
  font-size: 24px;
  margin-left: 3px;
  margin-right: 3px;
}

#searchMenu h3 {
  padding-right: 5px;
}

#bar h3, .searchLabel {
  font-family: 'Georgia', serif;
  color: white;
}

#searchButton, .searchInput {
  color: #444;
}

#searchButton {
  cursor: pointer;
}

.searchInput {
  border-width: 0px;

  box-shadow: inset 0 0 2px 0 black;
  -moz-box-shadow: inset 0 0 2px 0 black;
  -webkit-box-shadow: inset 0 0 2px 0 black;
}

#inputSearchName {
  width: 432px;
}

#inputSearchCity {
  width: 220px;
}

#searchMenu h3, #searchForm {
  margin: 0;
}

#searchResult {
  width: 900px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.searchResultItem {
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-radius: 15px;
  -moz-border-radius: 15px;
}

.searchResultItemLink div:hover {
  background-color: #C8C8C8;
  color: black;
  opacity: .6;
}

#no_search_results {
  font-size: 115px;
}

.searchResultItemTitle {
  margin-left: 20px;
}

