body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}

.authentication_menu_message {
  float: left;
  display: inline-block;
  font-size: 36px;
  color: white;
  margin-top: 10px;
  margin-left: 10px;
}

.authentication_menu_message a, .authentication_menu_message a:active, .authentication_menu_message a:visited {
  color: white;
  text-decoration: underline;
} 

#searchMenu {
  position: relative;
}

#searchMenu, #searchResult {
 color: #444; 
}

#searchResult a, #searchResult a:active, #searchResult a:visited {
  color: #444;
  text-decoration: none;
}

.hidden {
  display: none !important;
}

#homeContainer {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  position: relative;
  text-align: center;
}

#title {
  font-family: 'Vidaloka', serif;
  letter-spacing: -15px;
  font-size: 900%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 100;
  opacity: 0.85;
}

#catchphrase {
  font-family: 'Georgia', serif;
  text-align: center;
  opacity: 0.85;
  position: relative;
  top: -63px;
  left: -20px;
}

#searchMenuFields {
  margin-top: 13px;
  margin-left: 15px;
  float: left;
}

#searchForm {
  width: auto;
}

#spinning {
  display: inline-block;
  margin-top: 15px;
  margin-left: 5px;
}

#searchMenuFields *, #spinning * {
  display: inline-block;
}

.bar, .searchTabLink {
  background-color: rgb(39, 39, 39);
}

.homeMenuQuestion {
  font-size: 38px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.searchTabLink.initialSelectionTabLink {
  cursor: pointer;
  border-radius: 10px;
}

.searchTabLink {
  font-size: 24px;
  color: rgb(255, 255, 255);

  display: inline-block;

  padding-left: 12px;
  padding-right: 12px;

  padding-top: 5px;
  padding-bottom: 5px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  z-index: 10;
  position: relative;
}

.disabledSearchTabLink {
  cursor: pointer;
  pointer-events: all;
}

.selectedSearchTabLink {
  cursor: auto;
}

.bar {
  height: 60px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0 15px 25px 0 #999;
  -moz-box-shadow: 0 10px 30px 0 #999;

  pointer-events: all;
  border-radius: 3px;

  text-align: left;
}

.searchLabel, .searchButton, .searchInput {
  font-size: 24px;
  margin-left: 3px;
  margin-right: 3px;
}

.searchTab {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  width: 1024px;
}

#searchByLocationTabLink {
  margin-left: 120px;
}

#searchByTagTabLink {
  margin-left: -120px;
}

.bar .searchLabel {
  color: rgb(255, 255, 255);
}

.searchButton, .searchInput {
  color: rgb(96, 96, 96);
  height: 37px;
  border-radius: 5px;
}

.searchButton {
  margin-right: 0px;
  padding: 3px 5px 1px 5px;
  cursor: pointer;
  -webkit-appearance: button;
}

.searchInput {
  padding-left: 4px;
  border-width: 0px;

  box-shadow: inset 0 0 2px 0 black;
  -moz-box-shadow: inset 0 0 2px 0 black;
  -webkit-box-shadow: inset 0 0 2px 0 black;
}

#inputSearchName {
  width: 468px;
}

#inputSearchCity {
  width: 220px;
}

#inputSearchTag {
  width: 545px;
}

#searchForm {
  margin: 0;
}

#searchResult {
  width: 900px;
  overflow: hidden;
  position: relative;
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
}

.searchResultItem {
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-radius: 15px;
  -moz-border-radius: 15px;
}

.searchResultItemLink div:hover {
  background-color: #C8C8C8;
  color: black;
  opacity: .6;
}

#no_search_results {
  font-size: 115px;
}

.searchResultItemTitle {
  margin-left: 20px;
}

#networksMenu ul {
  padding-left: 0;
}

#networksMenu ul li {
  margin-right: 3px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

.twitter-icon {
  width: 64px;
  height: 64px;
  cursor: pointer;
  background: url(/images/twitter-icon.png) center left no-repeat;
}

.facebook-icon {
  width: 64px;
  height: 64px;
  cursor: pointer;
  background: url(/images/facebook-icon.png) center left no-repeat;
}

.instagram-icon {
  width: 64px;
  height: 64px;
  cursor: pointer;
  background: url(/images/instagram-icon.png) center left no-repeat;
}

.flickr-icon {
  width: 64px;
  height: 64px;
  cursor: pointer;
  background: url(/images/flickr-icon.png) center left no-repeat;
}

.foursquare-icon {
  float: left;
  width: 48px;
  height: 48px;
  margin-top: 6px;
  margin-left: 6px;
  background: url(/images/foursquare-icon.png) center left no-repeat;
  display: inline-block;
}

.loading-status {
  opacity: 0.2;
  cursor: inherit !important;
}

.pending-authentication {
  opacity: 0.5;
}

.green {
  color: #18B500;
}

.yellow {
  color: #FFDB0F;
}

.blue {
  color: #0078F0;
}
