#settingsIcon {
  font-size: 150px;
}

#settings {
  font-size: 26px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 7px;
  z-index: 5;
  background-color: #C8C8C8;
  color: black;
  opacity: .8;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

#settings h3 {
  margin: 0;
  font-size: 40 px;
}

#settingsContainer {
  margin: 20px;
}

.settingsSection {
  margin-top: 20px;
  margin-bottom: 20px;
}

#currentTimeRangeLabel, #currentLocationBasedUpdatesDistanceRangeLabel, #currentSpeedLabel {
  display: inline-block;
  width: 170px;
}

#currentTimeRangeSlider, #currentLocationBasedUpdatesDistanceRangeSlider, #currentSpeedSlider {
  width: 220px;
}

.network .icon-key {
  font-size: 18px;
  cursor: pointer;
}

.network .icon-key.pending-authentication {
  color: red;
}

.network .icon-key.authenticated {
  color: green;
  cursor: inherit;
}

.network .icon-warning-sign {
  color: red;
}

.settingsSection.networks i.icon {
  display: inline-block;
  line-height: 9px;
  cursor: pointer;
}

.settingsSection.networks i.icon-key {
  margin-left: 3px;
}

.settingsSection h3 i {
  margin-right: 10px;
}

.loading-status {
  opacity: 0.2;
  cursor: inherit !important;
}
