#settings {
  font-size: 26px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 7px;
  z-index: 5;
  background-color: #C8C8C8;
  color: black;
  opacity: .8;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

#settings h3 {
  margin: 0;
  font-size: 40 px;
}

#settingsContainer {
  margin: 20px;
}

.settingsSection {
  margin-top: 20px;
  margin-bottom: 20px;
}

#currentTimeRangeLabel, #currentLocationBasedUpdatesDistanceRangeLabel, #currentSpeedLabel {
  display: inline-block;
  width: 170px;
}

#currentTimeRangeSlider, #currentLocationBasedUpdatesDistanceRangeSlider, #currentSpeedSlider {
  width: 220px;
}
