#wallContainer {
  text-align: center;
  margin-top: 30px;
}

#wallContainer #zoom-scroll-container {
  position: fixed;
  top: 80px;
  right: 32px;
  opacity: 0.5;
}

#wallContainer #zoom-scroll-container:hover {
  opacity: 1;
}

#wallContainer #zoom-scroll {
  height: 300px;
  width: 14px;
  margin: 8px 0;
}

#wallContainer #zoom-scroll .handle {
  height: 20px;
  width: 20px;
  margin-left: -3px;
  padding-top: 3px;
  border-radius: 5px;
}

#wallContainer h2 {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 85px;
}

#wallContainer .publication_container {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  max-height: 900px;
  padding-top: 5px;
  margin-bottom: 20px;
  text-align: left;
  overflow: hidden;
  border-top: 5px black solid;
  width: 612px;
  color: black;
  text-decoration: none;
}

#wallContainer .publication_container.instagram .instagram_caption, #wallContainer .publication_container.twitter .publication_content_container.with_media {
  font-size: 30px;
}

#wallContainer .publication_container.twitter .publication_content_container {
  font-size: 64px;
}

#wallContainer .publication_container.facebook .publication_content_container {
  font-size: 40px;
}

#wallContainer .avatar_container {
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

#wallContainer .avatar {
  max-width: 100px;
  max-height: 100px;
}

#wallContainer .user_data_container {
  display: inline-block;
  width: 502px;
  font-size: 27px;
  margin-bottom: 10px;
}

#wallContainer .publication_time i {
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 612px;
}

#wallContainer .username {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  font-size: 38px;
}

#wallContainer .content {
  clear: left;
  min-width: 150px;
  max-width: 100%;
}

#wallContainer .content {
  clear: left;
  min-width: 300px;
}

#wallContainer .instagram_media, #wallContainer .twitter_media {
  margin-bottom: 10px;
}

#wallContainer .instagram_media img, #wallContainer .twitter_media img {
  width: 100%;
}





#slideshowContainer {
  position: relative;
  overflow: hidden;
}

#slideshowContainer .publication_container {
  display: block;
  font-size: 350%;
  margin: 0 auto 0 auto;
  position: absolute;
  height: 600px;
  margin-top: 20px;
  margin-left: 20px;
  min-width: 95%;
  max-width: 95%;
  text-shadow: rgba(0, 0, 0, .3) 0px 0px 5px;
  color: black;
  text-decoration: none;
}

#slideshowContainer .user_data_container {
  text-align: left;
}

#slideshowContainer .avatar {
  display: inline;
  float: left;
  margin: 0 35px 10px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

#slideshowContainer .avatar_container {
  float: left;
  height: 1000px;
}

#slideshowContainer .publication_content_container{
  display: inline;
  vertical-align: top;
}

#slideshowContainer .username {
  font-weight: bold;
  font-size: 120%;
  margin-right: 20px;
}

#slideshowContainer .screen_name {
  font-size: 70%;
}

#slideshowContainer .publication_time {
  font-size: 50%;
}

#slideshowContainer .publication_time i {
  margin-right: 15px;
}

#slideshowContainer .instagram_media, .twitter_media {
  margin-top: 20px;
  margin-right: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

#slideshowContainer .instagram_media, #slideshowContainer .twitter_media, #slideshowContainer .instagram_media img, #slideshowContainer .twitter_media img {
  float: left;
}

#slideshowContainer .twitter_media {
  height: 620px;
}

#slideshowContainer .twitter_media img {
  height: 100%;
}

#slideshowContainer .instagram_caption {
  font-size: 80%;
}

#slideshowContainer #cover_title {
  font-family: 'Vidaloka', serif;
  font-size: 150px;
  text-align: center;
  margin-top: 50px;
  position: absolute;
  min-width: 95%;
  max-width: 95%;
}

#loading {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 7px;
  z-index: 5;
  font-size: 90px;
  background-color: #C8C8C8;
  color: black;
  opacity: .6;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

#slideshowContainer #noUpdates {
  font-size: 150px;
  color: #C8C8C8;
  margin: 70px;
}
