.publication_container {
  font-size: 350%;
  margin: 0 auto 0 auto;
  position: absolute;
  height: 600px;
  margin-top: 20px;
  margin-left: 20px;
  min-width: 95%;
  max-width: 95%;
}

#wallContainer {
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.user_data_container {
  text-align: left;
}

.avatar {
  display: inline;
  float: left;
  margin: 0 35px 10px 10px;
}

.avatar_container {
  float: left;
  height: 1000px;
}

.publication_content_container{
  display: inline;
  vertical-align: top;
}

.username {
  font-weight: bold;
  font-size: 120%;
  margin-right: 20px;
}

.screen_name {
  font-size: 70%;
}

.publication_time {
  font-size: 50%;
}

.instagram_media {
  margin-top: 20px;
  margin-right: 20px;
  height: 1000px;
}

.instagram_media, .instagram_media img {
  float: left;
}

.instagram_caption {
  font-size: 80%;
}

#cover_title {
  font-size: 150px;
  text-align: center;
  margin-top: 50px;
  position: absolute;
  min-width: 95%;
  max-width: 95%;
}

#settings {
  font-size: 26px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 7px;
  z-index: 5;
  background-color: #C8C8C8;
  color: black;
  opacity: .6;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

#settings h3 {
  margin: 0;
  font-size: 40 px;
}

#settingsContainer {
  margin: 20px;
}

.settingsSection {
  margin-top: 20px;
  margin-bottom: 20px;
}

#currentTimeRangeLabel {
  display: inline-block;
  width: 160px;
}

#currentLocationBasedUpdatesDistanceRangeLabel {
  display: inline-block;
  width: 100px;
}

#currentTimeRangeSlider, #currentLocationBasedUpdatesDistanceRangeSlider {
  width: 220px;
}

#loading {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 7px;
  z-index: 5;
  font-size: 100px;
  background-color: #C8C8C8;
  color: black;
  opacity: .6;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

#noUpdates {
  font-size: 150px;
  color: #C8C8C8;
  margin: 70px;
}
